.hero_0 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_0.png") right bottom / auto 100% no-repeat;
}

.hero_1 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_1.png") right bottom / auto 100% no-repeat;
}
.hero_2 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_2.png") right bottom / auto 100% no-repeat;
}
.hero_3 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_3.png") right bottom / auto 100% no-repeat;
}
.hero_4 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_4.png") right bottom / auto 100% no-repeat;
}
.hero_5 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_5.png") right bottom / auto 100% no-repeat;
}
.hero_6 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_6.png") right bottom / auto 100% no-repeat;
}
.hero_7 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_7.png") right bottom / auto 100% no-repeat;
}
.hero_8 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_8.png") right bottom / auto 100% no-repeat;
}
.hero_9 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_9.png") right bottom / auto 100% no-repeat;
}
.hero_10 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_10.png") right bottom / auto 100% no-repeat;
}
.hero_11 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_11.png") right bottom / auto 100% no-repeat;
}
.hero_12 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_12.png") right bottom / auto 100% no-repeat;
}
.hero_13 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_13.png") right bottom / auto 100% no-repeat;
}
.hero_14 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_14.png") right bottom / auto 100% no-repeat;
}
.hero_15 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_15.png") right bottom / auto 100% no-repeat;
}
.hero_16 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_16.png") right bottom / auto 100% no-repeat;
}
.hero_17 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_17.png") right bottom / auto 100% no-repeat;
}
.hero_18 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_18.png") right bottom / auto 100% no-repeat;
}
.hero_19 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_19.png") right bottom / auto 100% no-repeat;
}
.hero_20 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_20.png") right bottom / auto 100% no-repeat;
}
.hero_21 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_21.png") right bottom / auto 100% no-repeat;
}
.hero_22 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_22.png") right bottom / auto 100% no-repeat;
}
.hero_23 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_23.png") right bottom / auto 100% no-repeat;
}
.hero_24 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_24.png") right bottom / auto 100% no-repeat;
}
.hero_25 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_25.png") right bottom / auto 100% no-repeat;
}
.hero_26 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_26.png") right bottom / auto 100% no-repeat;
}
.hero_27 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_27.png") right bottom / auto 100% no-repeat;
}
.hero_28 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_28.png") right bottom / auto 100% no-repeat;
}
.hero_29 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_29.png") right bottom / auto 100% no-repeat;
}
.hero_30 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_30.png") right bottom / auto 100% no-repeat;
}
.hero_31 {
    width: 100%;
    padding-top: 90%;
    background: url("./images/pad/full_portrait_31.png") right bottom / auto 100% no-repeat;
}