section {
    width: 100%;
    z-index: 1;
}
.nav_web_all {
    float: left;
    display: none;
    z-index: 99;
}
.subnav_web_all {
    float: left;
    display: none;
    z-index: 99;
}
.banner_all {
    width: 100%;
    height: 72vh;
    min-height: 600px;
    position: relative;
}

.promotional_video_box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.promotional_video {
    object-fit: cover;
    object-position: center center;
}
.video_web {
display: none;
}
.promotional_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.promotional_wrap_padding {
    width: 100%;
    padding: 12px 0px;
}
.overwatch_logo {
    width: 75%;
    max-width: 900px;
    margin: 0px auto;
}
.promotional_button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.promotional_button_padding {
    padding: 10px 0px;
}
.promotional_blue_button {
    min-width: 90%;
    width: 266px;
    height: 30px;
    border-radius: 2px;
    background-color: var(--COLOR_BLUE);
    text-align: center;
    opacity: .9;
}
.promotional_blue_button:hover {
    opacity: 1;
    outline: 1px solid var(--COLOR_BLUE);
}
.promotional_orange_button {
    min-width: 90%;
    width: 266px;
    height: 30px;
    border-radius: 2px;
    background-color: var(--COLOR_ORANGE);
    text-align: center;
    opacity: .9;
}
.promotional_orange_button:hover { 
    opacity: 1;
    outline: 1px solid var(--COLOR_ORANGE);
}
.promotional_button span {
    color: var(--COLOR_WHITE);
    font-size: 1rem;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    line-height: 30px;
}
.plateform {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 12px;
}
.plateform div {
    width: 18%;
}
.promotional_video_play_button {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 18px;
    left: 6px;
}
.promotional_video_play_button_padding {
    padding: 0px 4px;
}
.promotional_video_play_button div div {
    width: 21px;
    height: 21px;
    background-color: var(--COLOR_ORANGE);
    border-radius: 2px;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.promotional_video_play_button:hover div div {
    outline: 1px solid var(--COLOR_ORANGE);
}
.promotional_video_play_button img {
    width: 60%;
    display: block;
}
.promotional_video_play_button span {
    font-size: 1rem;
    font-weight: 400;
    color: var(--COLOR_WHITE);
}
/* -------------------------------------------------------------- */
.event_all {
    width: 100%;
    height: fit-content;
}
.event_top {
    width: 100%;
    height: fit-content;
    background: url("./images/mobile/section/Anniv22-HomeBanner-Mobile.jpg");
    background-position: center 0%;
    background-size: 200%;
    background-repeat: no-repeat;
}
.event_top_text {
    padding: 70% 12px 0px 12px;
    text-align: center;
}
.event_top_text h2 {
    font-style: italic;
    font-size: 1.5rem;
    color: #4b535d;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 3px;
    letter-spacing: 1px;
    text-indent: 1px;
}
.event_top_text h3 {
    font-size: 1.125rem;
    color: #a678ff;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: .8px;
    text-indent: .8px;
}
.event_top_text p {
    font-size: .875rem;
    color: #333333;
    font-weight: 400;
    line-height: 1.25rem;
    margin-top: 0.5rem;
}
.event_info {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 48px;
}
.event_info a {
    text-decoration: none;
    color: var(--COLOR_WHITE);
    background-color: #894cff;
    white-space: nowrap;
    padding: 3px 100px;
    border-radius: 2px;
    font-size: 1rem;
    line-height: 1rem;
    opacity: .9;
}
.event_info a:hover {
    opacity: 1;
    outline: 1px solid #894cff;
}
.event_bottom_background {
    width: 100%;
    height: 250px;
    background: url("./images/mobile/section/LootBox-HomeBanner-Mobile.jpg") center center / cover no-repeat;
}
.event_bottom_text {
    padding: 40px 10px;
    text-align: center;
}
.event_bottom_text h2 {
    font-size: 1.5rem;
    color: #4b535d;
    font-style: italic;
    font-weight: 400;
    line-height: 2rem;
    padding-bottom: 10px;
}
.event_bottom_text p {
    font-size: .875rem;
    color: #212529;
    font-weight: 400;
    line-height: 1.25rem;
    padding-bottom: 23px;
}
.event_bottom_info a {
    text-decoration: none;
    color: var(--COLOR_WHITE);
    white-space: nowrap;
    background-color: #007dd1;
    padding: 3px 100px;
    border-radius: 2px;
    font-size: 1rem;
    line-height: 1rem;
    opacity: .9;
}
.event_bottom_info a:hover {
    opacity: 1;
    outline: 1px solid #007dd1;
}
/* --------------------------------------------- */
.news_banner {
    width: 100%;
    height: 260px;
    background: url("./images/mobile/section/tracer_banner.jpg") center center / cover  no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}
.news_banner_box {
    width: 220px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px 12px;
    overflow: visible;
}
.news_banner_box_padding {
    padding: 6px 0px;
}
.news_banner_box h4 {
    font-size: 1rem;
    color: #333333;
    font-weight: 700;
    line-height: 1.3125rem;
}
.news_banner_box a {
    text-decoration: none;
    font-size: 1.125rem;
    color: var(--COLOR_WHITE);
    background-color: #000;
    letter-spacing: 2px;
    text-indent: 2px;
    display: block;
    border-radius: 2px;
    padding: 9px 0px;
    opacity: .9;
}
.news_banner_box a:hover {
    opacity: 1;
    outline: 1px solid #000;
}
.news_all {
    width: 100%;
}
.news_section {
    width: 90%;
    max-width: 340px;
    margin: 0px auto;
    padding-bottom: 60px;
}
.news_section > div {
    width: 100%;
}
.news_title {
    margin-bottom: 20px;
    padding-left: 12px;
}
.pad_news_view_all {
    display: none;
}
.news_wrap {
    display: flex;
    flex-direction: column;
}
.news_wrap_padding {
    width: 100%;
    padding: 6px 0px;
}
.news_box {
    width: 100%;
    height: 170px;
    overflow: hidden;
}
.news_box img {
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
    transition: .3s;
}
.news_wrap_padding:hover img {
    transform: scale(1.05);
}
.newsCard {
    border: 1px solid #ccc;
    background-color: #fff;
}
.news_wrap_padding h2 {
    font-size: .75rem;
    color: #4b535d;
    font-weight: 400;
    line-height: 1.125rem;
    margin: 10px;
}
.news_wrap_padding p {
    font-size: .75rem;
    color: #767676;
    font-weight: 400;
    line-height: 1.0625rem;
    margin: 10px;
}
.news_more_info {
    width: fit-content;
    height: fit-content;
    width: 100%;
    margin-top: 15px;
}
.news_more_info span {
    font-size: 1rem;
    color: #f06414;
    font-weight: 400;
    line-height: 1.3125rem;
    letter-spacing: .8px;
    text-indent: .8px;
}
.news_more_info:hover span {
    color: #ff8900;
}
.news_more_info svg {
    width: 1rem;
    height: 1rem;
    transform: rotate(-90deg);
    color: #f06414;
    vertical-align: -0.1rem;
}
.news_more_info:hover svg {
    color: #ff8900;
}
/* --------------------------------------------------------------- */
.hero_all {
    width: 100%;
    background: url("./images/mobile/section/hero_background.jpg") center 0% / cover no-repeat;
    padding: 44px 0px;
}
.hero_banner {
    text-align: center;
}
.hero_banner h2 {
    font-size: 1.5rem;
    color: #4b535d;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 1px;
    text-indent: 1px;
    font-style: italic;
    padding: 0px 10px;
}
.hero_banner p {
    font-size: 1rem;
    color: #212529;
    font-weight: 400;
    line-height: 1.4rem;
    margin-top: 0.6rem;
    margin-bottom: 36px;
    padding: 0px 10px;
}
.hero_spotlight_all {
    display: none;
}
.hero_icon_wrap {
    width: 100%;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.hero_icon_wrap a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.4px 3px;
}
.hero_icon_box {
    display: inline-block;
    width: 4.75rem;
    height: 5.25rem;
    background-color: rgba(51,51,51,.9);
    border: 3px solid #f6f6f6;
    overflow: hidden;
    border-radius: 7px;
    transform: skew(25rad);
    transition: transform .1s;
}
.hero_icon_wrap a:hover .hero_icon_box {
    transform: skew(25rad) scale(1.3);
    background-color: #ff9c00;
    z-index: 2;
}
.hero_icon_img {
    display: inline-block;
    width: calc(100% + 10px);
    height: 100%;
    background-size: auto 100%;
    background-position: center center;
    position: relative;
    transform: skew(-25rad) translateX(-5px);
}
.hero_name {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    font-size: .75rem;
    color: #212529;
    padding: 0px 0.3rem;
    border-radius: 0.3rem;
    line-height: 1.25rem;
    transition: background-color .15s ease-in;
    margin-top: -5%;
    margin-left: -17%;
}
.hero_icon_wrap a:hover .hero_name {
    background-color: #f6f6f6;
    z-index: 3;
}
/* -------------------------------------------- */
.bottom_banner_all {
    width: 100%;
}
.bottom_banner_background {
    width: 100%;
    background: url("./images/mobile/section/bottom_banner_background.jpg") center 0% / auto auto no-repeat;
}
.bottom_banner_upper {
    width: 100%;
    text-align: center;
}
.bottom_banner_upper img {
    max-width: 100%;
    padding: 20px;
    vertical-align: middle;
}
.bottom_banner_under {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}
.bottom_banner_under h2 {
    font-size: 1.5rem;
    color: #4b535d;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 1px;
    text-indent: 1px;
    font-style: italic;
}
.bottom_banner_under p {
    font-size: .75rem;
    color: #4b535d;
    font-weight: 400;
    line-height: 1.125rem;
    margin-top: 0.45rem;
}
.bottom_banner_under a {
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: .5px;
    text-indent: .5px;
    background-color: var(--COLOR_ORANGE);
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: 1.75rem;
    border-radius: 2px;
    opacity: .9;
    margin-top: 12px;
}
.bottom_banner_under a:hover {
    outline: 1px solid var(--COLOR_ORANGE);
    opacity: 1;
}
@media screen and (min-width:640px) {
    .promotional_button {
        flex-direction: row;
    }
    .promotional_button_padding {
        padding: 10px 15px;
    }
    .promotional_blue_button {
        min-width: 40%;
        width: 208px;
    }
    .promotional_orange_button {
        min-width: 45%;
        width: 208px;
    }
    .promotional_video_play_button {
        bottom: 18px;
        left: 40px;
    }
    .event_top {
        background: url("./images/mobile/section/Anniv22-HomeBanner-Mobile.jpg");
        background-position: center 0%;
        background-size: auto 300px;
        background-repeat: no-repeat;
    }
    .event_top_text {
        padding: 320px 12px 0px 12px;
        text-align: center;
    }
    .event_top_text h2 {
        font-size: 1.75rem;
        line-height: 2.5rem;
    }
    .event_top_text h3 {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    .event_top_text p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .event_info a {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
    .event_bottom_text h2 {
        font-size: 1.75rem;
        line-height: 2.5rem;
    }
    .event_bottom_text p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .event_bottom_info a {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
    .news_banner {
        display: block;
        position: relative;
    }
    .news_banner_box {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translateY(-50%)
    }
    .pad_news_view_all {
        display: inline-block;
    }
    .mobile_news_view_all {
        display: none;
    }
    .pad_news_title {
        display: inline-block;
        height: 20px;
        font-size: 1.125rem;
        line-height: 1.125rem;
        font-weight: 300;
        border-right: 2px solid #666;
        padding-right: 10px;
        margin-right: 10px;
    }
    .news_more_info {
        width: fit-content;
        margin-top: 15px;
    }
    .news_more_info span {
        font-size: 1.125rem;
        line-height: 1.125rem;
    }
    .news_more_info svg {
        width: 1.125rem;
        height: 1.125rem;
        vertical-align: -8%;
    }
    .news_section {
        width: 90%;
        max-width: 750px;
    }
    .news_wrap {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .news_wrap_padding {
        width: 50%;
        padding: 6px 12px;
    }
    .newsCard {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .news_box {
        width: 100%;
        height: auto;
    }
    .news_wrap_padding h2 {
        flex-grow: 1;
        font-size: .875rem;
        line-height: 1.25rem;
    }
    .news_wrap_padding p {
        font-size: .875rem;
        line-height: 1.25rem;
    }
    .hero_banner h2 {
        font-size: 2.8125rem;
        line-height: 3.125rem;
        padding: 0px 40px;
    }
    .hero_banner p {
        font-size: 1.125rem;
        line-height: 1.625rem;
        padding: 0px 40px;
    }
    .hero_icon_wrap {
        padding: 0px 40px;
    }
    .bottom_banner_background {
        background: url("./images/mobile/section/bottom_banner_background.jpg") center center / auto auto no-repeat;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .bottom_banner_upper {
        width: 50%;
        max-width: 320px;
    }
    .bottom_banner_under {
        width: 50%;
        max-width: 348px;
        background-color: #fff0;
        text-align: left;
    }
    .bottom_banner_under h2 {
        font-size: 2.8125rem;
        line-height: 3.125rem;
    }
    .bottom_banner_under p {
        font-size: .875rem;
        line-height: 1.25rem;
        margin-top: 0.45rem;
    }
    .bottom_banner_under a {
        text-align: center;
    }
}
@media screen and (min-width:960px) {
    .overwatch_logo {
        width: 60%;
        max-width: 60%;
        margin: 0px auto;
    }
    .plateform {
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0px;
        margin: 0px auto;
    }
    .plateform div {
        width: 25%;
        padding: 0px 11px;
    }
    .event_top {
        background-image: url("./images/pad/Anniv22-HomeBanner-Desktop.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-end;
    }
    .event_text_container {
        width: 50%;
    }
    .event_top_text {
        width: 100%;
        padding: 100px 10px 0px 0px;
    }
    .event_info {
        width: 100%;
        padding-bottom: 100px;
    }
    .event_bottom {
        background: url("./images/pad/LootBox-HomeBanner-Pad.jpg") center center / cover no-repeat;
        display: flex;
        flex-direction: row;
        justify-content: baseline;
    }
    .event_text_bottom_container {
        width: 50%;
    }
    .event_bottom_background {
        width: 0px;
        height: 0px;
        background: #fff0;
    }
    .event_bottom_text {
        width: 100%;
        padding: 40px 10px;
    }
    .news_all {
        background: url("./images/pad/pad-tracer_banner.jpg") center center / cover no-repeat;
        display: flex;
        flex-direction: row-reverse;
        padding: 70px 20px;
    }
    .news_banner {
        width: 50%;
        height: auto;
        background: #fff0;
        margin-bottom: 0px;
    }
    .news_banner_box {
        width: 250px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0px 0px 0px 48px;
        overflow: visible;
    }
    .news_section {
        width: 50%;
        max-width: 50%;
        margin: 0px;
        padding-bottom: 0px;
    }
    .news_wrap_padding {
        padding: 6px 6px;
    }
    .hero_spotlight_all {
        display: block;
        background-image: linear-gradient(90deg,rgba(64,82,117,0) 0,rgba(64,82,117,.8) 25%,rgba(64,82,117,.8) 75%,rgba(64,82,117,0));
        background-position: center center;
        background-size: 100% 200px;
        background-repeat: no-repeat;
    }
    .hero_spotlight_row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .hero_spotlight_col {
        width: 50%;
        max-width: 500px;
    }
    .hero_spotlight_col:nth-child(1) {
        padding-left: 20px;
    }
    .hero_spotlight_col:nth-child(2) {
        padding-right: 20px;
    }
    .hero_spotlight_img {
        width: 100%;
        padding-top: 90%;
        background: url("./images/pad/full_portrait_0.png") right bottom / auto 100% no-repeat;
    }
    .hero_spotlight_text {
        max-width: 25rem;
        margin: 0px auto;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero_spotlight_text h4 {
        font-size: 2.25rem;
        color: #fff;
        font-weight: 400;
        line-height: 2.6875rem;
        font-style: italic;
    }
    .hero_spotlight_text p {
        font-size: 1rem;
        color: #fff;
        font-weight: 400;
        line-height: 1.4;
        margin-top: 0.6rem;
    }
}
@media screen and (min-width:1280px) {
    .banner_all {
        height: 72vh;
    }
    .nav_web_relative {
        width: 100%;
        position: relative;
    }
    .nav_web_absolute {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .nav_web_wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav_web_all {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #0b0d12;
        padding: 0px 40px;
        margin-bottom: 40px;
        z-index: 999;
        position: sticky;
        top: -40px;
    }
    .nav_web_left {
        width: 50%;
        max-width: 800px;
        display: flex;
        flex-direction: row;
    }
    .nav_web_right {
        width: 50%;
        max-width: 800px;
        display: flex;
        justify-content: end;
    }
    .nav_web_right_mg15 {
        margin-right: 15px;
    }
    .nav_web_px15 {
        padding: 0px 15px;
    }
    .nav_web_pl15 {
        padding-left: 15px;
    }
    .nav_web_logo_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 61.82px;
        height: 40px;
    }
    .nav_web_logo_wrap svg {
        color: #009ae4;
        width: 100%;
        height: auto;
        flex-shrink: 0;
        transition: .2s;
    }
    .nav_web_logo_wrap:hover svg {
        color: #00aeff;
    }
    .nav_web_left_list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .nav_web_left_text {
        color: #fff !important;
        text-shadow: 0 0 15px #fff, 0 0 30px hsl(0deg 0% 100% / 30%);
    }
    .nav_web_left_list svg {
        color: hsla(0,0%,100%,.3);
        width: 14px;
        height: 14px;
        margin-left: 2px;
    }
    .nav_web_left_list > li {
        height: 100%;
    }
    .nav_web_left_list > li > span, .nav_web_left_list > li > a {
        display: flex;
        align-items: center;
        height: 100%;
        font-family: Arial,Helvetica, sans-serif;
        text-decoration: none;
        font-size: 15px;
        color: #ffffffb3;
        font-weight: 300;
        transition: .2s;
    }
    .nav_web_left_list > li:hover > span, .nav_web_left_list > li:hover > a {
        color: #ffff !important;
    }
    .nav_web_right_list {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .nav_web_right_list svg {
        color: hsla(0,0%,100%,.3);
        width: 14px;
        height: 14px;
        margin-left: 2px;
    }
    .nav_web_left_list > li:hover > span > svg {
        color: hsla(0,0%,100%,.5) !important;
    }
    .nav_web_right_list > li {
        height: 100%;
    }
    .nav_web_right_list > li > span, .nav_web_right_list > li > a {
        display: flex;
        align-items: center;
        height: 100%;
        font-family: Arial,Helvetica, sans-serif;
        text-decoration: none;
        font-size: 15px;
        color: #ffffffb3;
        font-weight: 300;
        transition: .2s;
    }
    .nav_web_right_list > li:hover > span, .nav_web_right_list > li:hover > a {
        color: #ffff !important;
    }
    .nav_web_right_list > li:hover > span > svg {
        color: hsla(0,0%,100%,.5) !important;
    }
    .subnav_web_all {
        width: 100%;
        height: 50px;
        display: block;
        position: relative;
        z-index: 99;
        position: sticky;
        top: 0px;
    }
    .subnav_bg_grow {
        width: calc(100% - 42px);
        height: 50px;
        margin: 0px auto;
        background-color: #f2f1ed;
        transition: .2s;
        border-radius: 2px;
    }
    .subnav_web_box {
        width: 100%;
        max-width: 1600px;
        height: 50px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 0px 20px;
    }
    .subnav {
        width: 100%;
        height: 50px;
        background-color: #f2f1ed;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .subnav_left {
        display: flex;
        flex-direction: row;
    }
    .subnav_logo_wrap {
        width: 54px;
        height: 50px;
        padding: 6px 8px;
        background-color: #353c42;
        border-radius: 2px 0 0 2px;
    }
    .subnav_logo_wrap svg {
        width: 100%;
        height: 100%;
    }
    .subnav_left_list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .subnav_left_list li {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }
    .subnav_decorate_front::before {
        content: "";
        display: block;
        width: 1px;
        height: 65%;
        background-color: #e5e3dc;
        position: relative;
        top: 50%;
        left: 0px;
        transform: translateY(-75%);
    }
    .subnav_decorate::after {
        content: "";
        display: block;
        width: 1px;
        height: 65%;
        background-color: #e5e3dc;
        position: relative;
        top: 50%;
        right: -20px;
        transform: translateY(-75%);
    }
    .subnav_left_list > li > ul {
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #353c42;
        min-width: 100%;
    }
    .subnav_left_list > li > ul li {
        height: 40px;
        z-index: 99;
        position: relative;
    }
    .subnav_inner_decorate::after {
        content: "";
        display: block;
        width: 85%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #4b535d;
    }
    .subnav_left_list > li > ul a {
        text-decoration: none;
        display: block;
        height: 100%;
        width: 100%;
        font-size: 18px;
        color: #fff;
        font-weight: 400;
        line-height: 1.4;
        white-space: nowrap;
        padding: 8px 20px;
        transition: .2s;
    }
    .subnav_left_list > li > ul li:hover a {
        color: #f06414;
        transform: translateY(-1px);
    }
    .subnav_left_list > li > ul svg {
        width: 20px;
        height: 20px;
        margin-left: 3px;
        vertical-align: -10%;
    }
    .subnav_padding {
        padding: 0px 20px;
    }
    .subnav_pl20 {
        padding-left: 20px;
    }
    .subnav_padding > span > svg {
        width: 20px;
        height: 20px;
        margin-left: 6px;
        vertical-align: -20%;
        transition: .3s;
    }
    .subnav_left_list > li > span, .subnav_left_list > li > a {
        text-decoration: none;
        font-size: 1rem;
        color: #4b535d;
        transition: .2s;
    }
    .subnav_left_list > li:hover > span, .subnav_left_list > li:hover > a {
        transform: translateY(-1px);
        color: #f06414;
    }
    .subnav_right_list {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .subnav_right_list li {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }
    .subnav_right_list > li > span, .subnav_right_list > li > a {
        text-decoration: none;
        font-size: 1rem;
        color: #4b535d;
        transition: .2s;
    }
    .subnav_right_list > li:nth-child(1):hover a, .subnav_right_list > li:nth-child(2):hover a  {
        transform: translateY(-1px);
        color: #f06414;
    }
    .subnav_under_decorate::before {
        content: "";
        display: block;
        width: 100%;
        height: 0px;
        position: absolute;
        left: 0;
        bottom: 0px;
        background-color: #f06414;
    }
    .subnav_under_decorate:hover::before {
        height: 3px;
        animation: pulse .2s;
    }
    @keyframes pulse {
        from {
            -webkit-transform: scale3d(.95, .95, .95);
            transform: scale3d(.95, .95, .95);
        }
        to {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }
    #subnav_buy_button a {
        display: inline-block;
        height: 100%;
        font-size: 1.3125rem;
        color: #fff;
        padding: 0px 21px;
        line-height: 50px;
        background-color: #f06414;
        border-radius: 0px 2px 2px 0px;
        opacity: .9;
    }
    #subnav_buy_button a:hover {
        opacity: 1;
    }
    .subnav_padding > a > svg {
        width: 20px;
        height: 20px;
        margin-left: 6px;
        vertical-align: -20%;
    }
    .promotional_wrap {
        height: calc(100% - 130px);
        justify-content:center;
    }
    .promotional_wrap_padding:nth-child(1) {
        padding: 0px 0px 12px 0px;
    }
    .promotional_blue_button {
        width: 273px;
        height: 45px;
    }
    .promotional_blue_button:hover {
        outline: 2px solid var(--COLOR_BLUE);
    }
    .promotional_orange_button {
        width: 273px;
        height: 45px;
    }
    .promotional_orange_button:hover {
        outline: 2px solid var(--COLOR_ORANGE);
    }
    .promotional_button span {
        font-size: 1.3125rem;
        font-weight: 400;
        line-height: 45px;
    }
    .plateform {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0px 6px;
    }
    .plateform div {
        width: 18%;
    }
    .promotional_video_play_button {
        bottom: 48px;
        left: 40px;
    }
    .promotional_video_play_button div div {
        width: 1.7rem;
        height: 1.7rem;
    }
    .promotional_video_play_button span {
        font-size: 1.3125rem;
        font-weight: 400;
        color: var(--COLOR_WHITE);
    }
    .section_clip_top {
        clip-path: polygon(0 0,calc(50% - 720px) 0,calc(50% - 710px) 21px,calc(50% + 710px) 21px,calc(50% + 720px) 0,100% 0,100% 100%,0 100%);
        margin-top: -21px;
    }
    .news_all {
        padding: 90px 60px 70px 60px;
    }
    .news_banner_box {
        width: 50%;
    }
    .news_banner_box h4 {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
    .news_banner_box a {
        font-size: 1.3125rem;
        line-height: 1.6875rem;
        letter-spacing: 2px;
        text-indent: 2px;
        width: fit-content;
        padding: 12px 20px;
        margin: 0px auto;
    }
    .pad_news_title {
        font-size: 1.3125rem;
        line-height: 1.5rem;
        font-weight: 400;
        height: 1.5rem;
    }
    .news_more_info span {
        font-size: 1.3125rem;
        line-height: 1.5rem;
    }
    .news_wrap_padding {
        padding: 9px 12px;
    }
    .news_wrap_padding h2 {
        font-size: 1rem;
        line-height: 22px;
        margin: 0px;
        padding: 10px 20px 0px 20px;
    }
    .news_wrap_padding p {
        font-size: 1rem;
        line-height: 24px;
        margin: 5px 0px 0px 0px;
        padding: 0px 20px 10px 20px;
    }
    .hero_all {
        padding: 72px 0px;
    }
    .hero_banner h2 {
        font-size: 3.375rem;
        line-height: 3.75rem;
        padding: 0px 200px;
    }
    .hero_banner p {
        font-size: 1.3125rem;
        line-height: 1.4rem;
        margin-top: 12.6px;
        padding: 0px 200px;
    }
    .hero_spotlight_col:nth-child(1) {
        width: 40%;
        max-width: 500px;
        padding: 0px;
    }
    .hero_spotlight_col:nth-child(2) {
        width: 60%;
        max-width: 700px;
        padding: 0px;
    }
    .hero_spotlight_text {
        max-width: 25rem;
        margin: 0px auto 0px 24px;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero_spotlight_text h4 {
        font-size: 45px;
        line-height: 50px;
        letter-spacing: 1px;
        text-indent: 1px;
    }
    .hero_spotlight_text p {
        font-size: 18px;
        line-height: 26px;
        margin-top: 0.6rem;
    }
    .hero_icon_wrap {
        padding: 0px 200px;
    }
    .bottom_banner_background {
        justify-content:flex-end;
    }
    .bottom_banner_under {
        max-width: 50%;
    }
    .bottom_banner_under h2 {
        font-size: 42px;
        line-height: 60px;
    }
    .bottom_banner_under p {
        width: 100%;
        font-size: 1rem;
        line-height: 22px;
        margin-top: 0.6rem;
    }
    .bottom_banner_under a {
        font-size: 21px;
        line-height: 45px;
        width: 200px;
        height: 45px;
        margin-top: 16px;
    }
}

@media screen and (min-width:1600px) {
    .subnav_bg_grow {
        width: calc(1600px - 42px);
    }
    .subnav_web_box {
        padding: 0px 0px;
    }
    .promotional_wrap {
        width: 1600px;
        margin: 0px auto 0px auto;
    }
    .promotional_video_play_button {
        left: calc(50% - 760px);
    }

    .event_text_container {
        width: 50%;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start;
    }
    .event_top_text {
        max-width: 800px;
    }
    .event_info {
        max-width: 800px;
    }
    .event_text_bottom_container {
        width: 50%;
    }
    .event_bottom_text {
        max-width: 800px;
        margin-left: auto;
    }
    .news_all {
        padding: 90px calc(50% - 740px) 70px calc(50% - 740px);
    }
    .hero_banner h2 {
        width: 100%;
        padding: 0px calc(50% - 600px);
    }
    .hero_banner p {
        width: 100%;
        padding: 0px calc(50% - 600px);
    }
    .hero_icon_wrap {
        padding: 0px calc(50% - 600px);
    }
}